 .side {
  font-size: 25px;
  display: inline-block;
  width: 25%;
  text-align: center;
  text-align: left;
  padding: 50px 0px 0px 300px;
}
input {
  margin-top: -5px;
  font-size: 40px;
  display: inline;
  width: 250px;
  height: 40px;
  background-color: rgb(230, 166, 166);
}
.string {
  display: inline-block;
  height: 40px;
  color: rgba(9, 9, 196, 0.733);
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.stringValue {
  display: inline-block;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.faction {
  margin-bottom: 55px;
}

